blinker==1.9.0
click==8.3.0
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
graphql-core==3.2.6
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
lia-web==0.2.3
MarkupSafe==3.0.3
packaging==25.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
redis==6.4.0
six==1.17.0
SQLAlchemy==2.0.44
strawberry-graphql==0.283.3
typing_extensions==4.15.0
Werkzeug==3.1.3
